        .card{
            display: flex;
            flex-direction: column;
            gap: 5px;
            align-items: center;
            width: calc(33.33% - 10px); 
            margin: 5px; 
            color: #f2f4f9;
            .logo-div{
                height: 60%;
                display: flex;
                flex-direction: column; 
                justify-content: space-evenly; 
                .head{
                    font-weight: 700;
                    font-size: 17px;

                }  
            }
        }
