.regist {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #edf0ed;
    padding: 15px 0;
  
    .cad {
      width: 70%;
      display: flex;
      flex-direction: row-reverse;
      background-color: #F6F6F6;
      border-radius: 10px;
      min-height: 600px;
      overflow: hidden;
  
      .left {
        flex: 1;
        background: linear-gradient(rgba(33, 34, 34, 0.5), rgba(0, 16, 2, 0.5)),
          url("../../assets/bg.svg")
            center;
        background-size: cover;
        padding: 50px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        color: white;
  
        // h1 {
        //   font-size: 100px;
        //   line-height: 100px;
        // }

        img{
            width: 250px;
        }
        
        p {
            font-size: 17px;
            font-weight: 500;
        }
  
        span {
          font-size: 14px;
        }
        
        button {
          width: 50%;
          padding: 10px;
          border: none;
          background-color: white;
          color: #051c31;
          font-weight: bold;
          cursor: pointer;
        }
      }
  
      .right {
        flex: 1;
        padding: 50px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        justify-content: center;
  
        h1 {
        color: #202020;
        }
        
        form {
          display: flex;
          flex-direction: column;
          gap: 30px;
          
          input {
          border: none;
          border-bottom: 1px solid lightgray;
          padding: 20px 10px;
          }
          select{
            border: none;
            border-bottom: 1px solid lightgray;
            padding: 20px 10px;
  
          }
          .show-btn{
            width: 15%;
            background: #fff;
            border: none;
            resize: none;
            outline: none;
            border-radius: 0;
            border-bottom: 1px solid lightgray;
          }
          
          button {
            cursor: pointer;
            background: transparent;
            padding: 10px;
            border: none;
            outline: none;
            resize: none;
            font-weight: 500;
            color: #051c31;
            font-size: 17px;
            text-align: left;
            border: 1px solid #051c31;
            border-radius: 8px;
            box-shadow: 0 4px 10px rgba(53, 68, 184, 0.01);
            width: 40%;  
          }
        }
      }
    }
  }
  
  @media (max-width:1010px){
    .regist{
        height: 100%;
        padding: 0;

        .cad{
            flex-direction: column-reverse;
            width: 100%;
            height: 100%;
            border-radius: 0;

            .left, .right{
                padding: 30px;
            }
        }
    }
  }